.Header {
    position: sticky;
    width: 100%;
    padding: 50px 0;
    z-index: 100;
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1.0);
    background: #C6C6C6;
}

.HeaderScrolled {
    background: rgba(0,0,0, 0.8);
    padding: 15px 0;
    backdrop-filter: blur(20px);
}

.HeaderLine1 {
    max-width: 800px;
    margin: 0 auto;
    align-items: center;
    justify-items: center;
}

.HeaderLine2{
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(6, auto);
    align-items: center;
    justify-items: center;
}

.Header h1 {
    text-align: center;
    font-size: 45px;
    font-weight: 700;
}

.Header a {
    color: black;
    font-weight: 700;
    transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1);
    text-decoration: none;
}

.Header a:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
    transform: translateY(-8px);
}

.Header button {
    padding: 8px 20px;
    font-size: 20px;
    background: turquoise;
    border: none;
    font-weight: 700;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1)
}

.Header button:hover {
    background: white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
    transform: translateY(-8px);
}

.Header a:first-child img {
    border-radius: 50%;
}

